/* HTML */

html {
  height: 100%;
}

/* BODY */

body {
  background-color: #008080;
  margin: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* HEADER */

header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  height: 150px;
  width: 100%;
  background-color: #20B2AA;
}

#time {
  text-align: center;
}

#logo img {
  max-width: 100%;
  height: auto;
}

#logout a {
  display: flex;
  flex-direction: column;
}

#logout a img {
  max-width: 100%;
  height: auto;
}

/* FOOTER */

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: #20B2AA;
  position: fixed;
  bottom: 0;
  height: 20px;
  width: 100%;
}

/* MAIN */

main {
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PANELS */

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
  background-color: white;
  border: 5px solid #00FA9A;
  border-radius: 25px;
}
